.menu {
    background-color: #ffffff;
    width: 220px;
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    transition: 800ms;
    border-color: black;
    border: 2px;
    border-style: none solid none none;
}

.menu.open {
    left: 0;
    transition: 500ms;
}