.menu {
    top: 0;
    left: -100%;
    position: fixed;
    transition: 800ms;
    background-color: #ffffff;
    width: 220px;
    height: 100vh;
    border-color: black;
    border: 2px;
    border-style: none solid none none;
}

.menu.open {
    left: 0;
    transition: 500ms;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 5px;
}