.cardRegisterForm{
    margin: 5px;
}

.title{
    margin-top: 0;
    padding: 0 5px 5px 5px;
    text-align: center;
}

.welcome{
    text-align: center;
    font-size: large;
    margin-bottom: 25%;
}

.submit{
    background-color: white;
    color: black;
    border: 1px solid #555555;
    font-size: large;
    width: 50%;
    float: right;
}

.submit.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}